---
title: "German Soundproof, High-Security Windows in Singapore and Malaysia"
page-title: German Soundproof, High-Security Windows in Malaysia and Singapore
description: "Q-Windows manufactures and installs German soundproof, high-security, aluminium windows and doors in Malaysia and Singapore."
image: sharing_cover.jpg
subtitle: "- the original"
layout: default
cover: bg_promo
type: index
---

<div class="section orange color">
  <div class="container">
    <a href="/news/new-automatic-door-locking-system/"><h2>Say Hello to Your New, German Entrance Door</h2></a>
  </div>
</div>

<div class="section blue color">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h2 style="margin-top:0rem;"><small>WINKHAUS autoLock AV3</small></h2>

        <ul class="clean">
          <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Automatic locking via magnet technology in the frame </li>
          <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> High security via locked hook with 25 mm visible width and claw action</li>
          <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Highest burglar resistance, energy savings and user comfort</li>
          <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Tight seal via two independent sealing elements</li>
          <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Energy savings and user comfort</li>
          <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 8x door panel designs to choose from (see PDF)</li>
        </ul>

        <p><a class="large link" href="/news/new-automatic-door-locking-system/">Find out more</a></p>
      </div>
      <div class="col-sm-1 col-sm-offset-3 text-center">
        <img src="/assets/images/winkhaus-logo.jpg" style="height:4rem;">
      </div>
    </div>
  </div>
</div>

<div class="container content">
  <div class="section">

  {% include types.html %}

  </div>
  <div class="section">

    <h3>Discover our new, German entrance and interior door range 2017/2018</h3>

    <br>

    <div class="row">
      <div class="col-sm-6 mbm40">
        <a href="/type/westag-getalit-premium-interior-doors/">
          <img alt="Westag Getalit premium interior doors" data-original="/assets/images/premium-interior-door-example03.png">
        </a>
        <h4 class="text-center"><a href="/type/westag-getalit-premium-interior-doors/">Westag Getalit Premium <b>Interior Doors</b></a></h4>
      </div>
      <div class="col-sm-6">
        <a href="/type/burglar-resistant-entrance-doors/">
          <img alt="Burglar-resistant entrance doors" data-original="/assets/images/burglar-resistant-entrance-door-example01.png">
        </a>
        <h4 class="text-center"><a href="/type/burglar-resistant-entrance-doors/">Burglar-Resistant Apartment <b>Entrance Door</b></a></h4>
      </div>
    </div>

    <div class="mt40">
      <a href="/type/westag-getalit-premium-interior-doors/sliding/">
        <img alt="Westag Getalit premium interior sliding doors" data-original="/assets/images/bg_sliding-serie.jpg">
      </a>
      <h4 class="text-center"><a href="/type/westag-getalit-premium-interior-doors/sliding/">Westag Getalit Premium <b>Interior Sliding Door</b></a></h4>
    </div>

  </div>

  <div class="section">

    <h3>Latest News</h3>

    {% for entry in site.news reversed limit:6 %}
    <h4><a href="{{ entry.url }}">{{ entry.title }}</a></h4>
    <p>{{ entry.content | truncatewords: "40" | strip_html | strip_newlines }}</p>
    {% endfor %}

  </div>

</div>
