---
title: Westag Getalit Premium Interior doors
nav-title: Premium Interior
layout: page
permalink: /type/westag-getalit-premium-interior-doors/
nav: info
cover: bg32
---

<h2>Maximize your home's potential</h2>
<p>Doors provide connection – and separation. They add to our wellbeing and have a considerable impact on the style of our home. At Q-Windows, we offer a wide range of doors. Take advantage of our thousands of possible combinations and create a door whose design, function and quality are a perfect match for you and your lifestyle.</p>

<div class="row">
  <div class="col-sm-6">
    <img data-original="/assets/images/premium-interior-door-example01.png">
  </div>
  <div class="col-sm-6">
    <img data-original="/assets/images/premium-interior-door-example02.png">
  </div>
</div>

<h2>What does your perfect door look like?</h2>

<p>You want doors that are as individual as a tailor-made suit – doors that complement your style and the way you live. Get inspired! But we all know that looks aren’t everything – what’s on the inside also counts.</p>

<ul class="large">
  <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 44 decors and lacquerings <small>from trendy white and varied wood reproductions to exciting plain colours</small></li>
  <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 3 surfaces <small>from hard-wearing CPL and de- cor foils to elegant lacquer</small></li>
  <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 84 door models <small>from simple to classic, from country house to Design styles</small></li>
  <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 6 door frame options <small>from round to square or
pro led; for rebated and  ush-closing doors with a great emphasis on design</small></li>
<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 30 kinds of glass <small>from transparent glass and structured glass
to individual sandblasted glazing</small></li>
<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 2 door edge options <small>low-maintenance round edge or puristic square
edge ( ush-closing doors always have a square edge)</small></li>
<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 3 door leaf cores <small>from light honeycomb core and robust hollow chipboard core, to extremely heavy-duty solid chipboard core</small></li>
</ul>

<h2>Interior Door Range</h2>

{% for range in site.product_westag %}
{% if range.type == "door" %}

<h3>{{ range.nav-title }}
<br><small>{{ range.page-title }}</small></h3>

<div class="row">
  <div class="col-sm-4">
    <img class="pre204" alt="{{ range.image1_alt }}" data-original="/assets/images/westag/{{ range.category }}/{{ range.image1 }}">
  </div>
  <div class="col-sm-4">
    <img class="pre204" alt="{{ range.image2_alt }}" data-original="/assets/images/westag/{{ range.category }}/{{ range.image2 }}">
  </div>
  <div class="col-sm-4">
    <img class="pre204" alt="{{ range.image3_alt }}" data-original="/assets/images/westag/{{ range.category }}/{{ range.image3 }}">
  </div>
</div>

<p>{{ range.intro }} <a href="{{ range.permalink }}{{ range.category }}">Find out more >></a></p>

{% endif %}
{% endfor %}

<!--

<h3>Surface design and color options</h3>

<div class="row interior-door-structure">
  <div class="col-xs-2 col-sm-1">
    <img data-original="/assets/images/premium-interior-door-structure-01.png">
  </div>
  <div class="col-xs-2 col-sm-1">
    <img data-original="/assets/images/premium-interior-door-structure-02.png">
  </div>
  <div class="col-xs-2 col-sm-1">
    <img data-original="/assets/images/premium-interior-door-structure-03.png">
  </div>
  <div class="col-xs-2 col-sm-1">
    <img data-original="/assets/images/premium-interior-door-structure-04.png">
  </div>
  <div class="col-xs-2 col-sm-1">
    <img data-original="/assets/images/premium-interior-door-structure-05.png">
  </div>
  <div class="col-xs-2 col-sm-1">
    <img data-original="/assets/images/premium-interior-door-structure-08.png">
  </div>
  <div class="col-xs-2 col-sm-1">
    <img data-original="/assets/images/premium-interior-door-structure-09.png">
  </div>
  <div class="col-xs-2 col-sm-1">
    <img data-original="/assets/images/premium-interior-door-structure-10.png">
  </div>
  <div class="col-xs-2 col-sm-1">
    <img data-original="/assets/images/premium-interior-door-structure-11.png">
  </div>
  <div class="col-xs-2 col-sm-1">
    <img data-original="/assets/images/premium-interior-door-structure-12.png">
  </div>
  <div class="col-xs-2 col-sm-1">
    <img data-original="/assets/images/premium-interior-door-structure-13.png">
  </div>
  <div class="col-xs-2 col-sm-1">
    <img data-original="/assets/images/premium-interior-door-structure-14.png">
  </div>
  <div class="col-xs-2 col-sm-1">
    <img data-original="/assets/images/premium-interior-door-structure-15.png">
  </div>
  <div class="col-xs-2 col-sm-1">
    <img data-original="/assets/images/premium-interior-door-structure-16.png">
  </div>
  <div class="col-xs-2 col-sm-1">
    <img data-original="/assets/images/premium-interior-door-structure-17.png">
  </div>
  <div class="col-xs-2 col-sm-1">
    <img data-original="/assets/images/premium-interior-door-structure-18.png">
  </div>
  <div class="col-xs-2 col-sm-1">
    <img data-original="/assets/images/premium-interior-door-structure-19.png">
  </div>
  <div class="col-xs-2 col-sm-1">
    <img data-original="/assets/images/premium-interior-door-structure-20.png">
  </div>
  <div class="col-xs-2 col-sm-1">
    <img data-original="/assets/images/premium-interior-door-structure-21.png">
  </div>
  <div class="col-xs-2 col-sm-1">
    <img data-original="/assets/images/premium-interior-door-structure-22.png">
  </div>
  <div class="col-xs-2 col-sm-1">
    <img data-original="/assets/images/premium-interior-door-structure-23.png">
  </div>
  <div class="col-xs-2 col-sm-1">
    <img data-original="/assets/images/premium-interior-door-structure-24.png">
  </div>
  <div class="col-xs-2 col-sm-1">
    <img data-original="/assets/images/premium-interior-door-structure-25.png">
  </div>
  <div class="col-xs-2 col-sm-1">
    <img data-original="/assets/images/premium-interior-door-structure-26.png">
  </div>
  <div class="col-xs-2 col-sm-1">
    <img data-original="/assets/images/premium-interior-door-structure-27.png">
  </div>
  <div class="col-xs-2 col-sm-1">
    <img data-original="/assets/images/premium-interior-door-structure-28.png">
  </div>
  <div class="col-xs-2 col-sm-1">
    <img data-original="/assets/images/premium-interior-door-structure-29.png">
  </div>
  <div class="col-xs-2 col-sm-1">
    <img data-original="/assets/images/premium-interior-door-structure-30.png">
  </div>
  <div class="col-xs-2 col-sm-1">
    <img data-original="/assets/images/premium-interior-door-structure-31.png">
  </div>
  <div class="col-xs-2 col-sm-1">
    <img data-original="/assets/images/premium-interior-door-structure-32.png">
  </div>
  <div class="col-xs-2 col-sm-1">
    <img data-original="/assets/images/premium-interior-door-structure-33.png">
  </div>
  <div class="col-xs-2 col-sm-1">
    <img data-original="/assets/images/premium-interior-door-structure-34.png">
  </div>
  <div class="col-xs-2 col-sm-1">
    <img data-original="/assets/images/premium-interior-door-structure-35.png">
  </div>
  <div class="col-xs-2 col-sm-1">
    <img data-original="/assets/images/premium-interior-door-structure-36.png">
  </div>
  <div class="col-xs-2 col-sm-1">
    <img data-original="/assets/images/premium-interior-door-structure-37.png">
  </div>
  <div class="col-xs-2 col-sm-1">
    <img data-original="/assets/images/premium-interior-door-structure-38.png">
  </div>
  <div class="col-xs-2 col-sm-1">
    <img data-original="/assets/images/premium-interior-door-structure-39.png">
  </div>
  <div class="col-xs-2 col-sm-1">
    <img data-original="/assets/images/premium-interior-door-structure-40.png">
  </div>
  <div class="col-xs-2 col-sm-1">
    <img data-original="/assets/images/premium-interior-door-structure-41.png">
  </div>
</div>

<h2>Get inspired - Examples:</h2>

<div class="row pd40">
{% for product in site.data.swing-doors %}
  <div class="col-sm-3 text-center">
    <img data-original="/assets/images/products/swing-doors/{{ product.image-src }}">
    <h4>{{ product.title }}</h4>
    <hr>
  </div>
{% endfor %}
</div>

-->
