---
title: Quote for Aluminium Windows & Doors - German Windows Malaysia
page-title: Free Aluminium Window & Door Quote
layout: page
permalink: /quote/
nav-title: Quote
nav:
cover: bg19
---

<p class="highlight orange">Enquire about your custom-made, soundproof, high-security window & door solution today!</p>

<div class="row">
  <div class="col-sm-4">

    {% include contactform.html %}

  </div>
  <div class="col-sm-7 col-sm-offset-1">

    <h2>Window and Door Types</h2>

    <div class="row">
    {% for type in site.types offset:1 %}
      <div class="col-xs-3">
        <img class="greyscale" src="{{ type.image }}">
        <p class="hidden-xs text-center"><small>{{ type.title }}</small></p>
      </div>
    {% endfor %}
    </div>

    <h2>Profile Color</h2>

    <div class="row">

      <div class="col-xs-2 text-center">
        <div style="background-color:#1E1E1E; height:66px; width:127px;" alt="..." class="img-thumbnail"></div>
        <p><small>7015M</small></p>
      </div>

      <div class="col-xs-2 text-center">
        <div style="background-color:#F6F6F6; height:66px; width:127px;" alt="..." class="img-thumbnail"></div>
        <p><small>9016</small></p>
      </div>

      <div class="col-xs-2 text-center">
        <div style="background-color:#FFFFFF; height:66px; width:127px;" alt="..." class="img-thumbnail"></div>
        <p><small>4115</small></p>
      </div>

      <div class="col-xs-2 text-center">
        <div style="background-color:#0A0A0A; height:66px; width:127px;" alt="..." class="img-thumbnail"></div>
        <p><small>9005</small></p>
      </div>

      <div class="col-xs-2 text-center">
        <div style="background-color:#F4F4F4; height:66px; width:127px;" alt="..." class="img-thumbnail"></div>
        <p><small>4018</small></p>
      </div>

      <div class="col-xs-2 text-center">
        <div style="background-color:#212121; height:66px; width:127px;" alt="..." class="img-thumbnail"></div>
        <p><small>8019</small></p>
      </div>

      <div class="col-xs-2 text-center">
        <div style="background-color:#45322E; height:66px; width:127px;" alt="..." class="img-thumbnail"></div>
        <p><small>8010</small></p>
      </div>

      <div class="col-xs-2 text-center">
        <div style="background-color:#382C1E; height:66px; width:127px;" alt="..." class="img-thumbnail"></div>
        <p><small>8014</small></p>
      </div>

      <div class="col-xs-2 text-center">
        <div style="background-color:#5B3A29; height:66px; width:127px;" alt="..." class="img-thumbnail"></div>
        <p><small>80375</small></p>
      </div>

      <div class="col-xs-2 text-center">
        <div style="background-color:#293133; height:66px; width:127px;" alt="..." class="img-thumbnail"></div>
        <p><small>7028</small></p>
      </div>

      <div class="col-xs-2 text-center">
        <div style="background-color:#464531; height:66px; width:127px;" alt="..." class="img-thumbnail"></div>
        <p><small>7013</small></p>
      </div>

      <div class="col-xs-2 text-center">
        <div style="background-color:#4E5754; height:66px; width:127px;" alt="..." class="img-thumbnail"></div>
        <p><small>6133</small></p>
      </div>

      <div class="col-xs-2 text-center">
        <div style="background-color:#4C514A; height:66px; width:127px;" alt="..." class="img-thumbnail"></div>
        <p><small>7505</small></p>
      </div>

      <div class="col-xs-2 text-center">
        <div style="background-color:#969992; height:66px; width:127px;" alt="..." class="img-thumbnail"></div>
        <p><small>7004</small></p>
      </div>

      <div class="col-xs-2 text-center">
        <div style="background-color:#2F4538; height:66px; width:127px;" alt="..." class="img-thumbnail"></div>
        <p><small>6005</small></p>
      </div>

      <div class="col-xs-2 text-center">
        <div style="background-color:#1E2460; height:66px; width:127px;" alt="..." class="img-thumbnail"></div>
        <p><small>388</small></p>
      </div>

      <div class="col-xs-2 text-center">
        <div style="background-color:#1D1E33; height:66px; width:127px;" alt="..." class="img-thumbnail"></div>
        <p><small>5211</small></p>
      </div>

      <div class="col-xs-2 text-center">
        <div style="background-color:#CC0605; height:66px; width:127px;" alt="..." class="img-thumbnail"></div>
        <p><small>526</small></p>
      </div>

      <div class="col-xs-2 text-center">
        <div style="background-color:#5E2129; height:66px; width:127px;" alt="..." class="img-thumbnail"></div>
        <p><small>35025</small></p>
      </div>

      <div class="col-xs-2 text-center">
        <div style="background-color:#F44611; height:66px; width:127px;" alt="..." class="img-thumbnail"></div>
        <p><small>2019</small></p>
      </div>

      <div class="col-xs-2 text-center">
        <div style="background-color:#E5BE01; height:66px; width:127px;" alt="..." class="img-thumbnail"></div>
        <p><small>1003</small></p>
      </div>

    </div>

    <h2>Glass color</h2>

    <div class="row" id="introduction">
      <div class="col-xs-2">
        <img data-original="/assets/images/windows-doors/glass-brown.jpg">
        <p class="hidden-xs text-center"><small>Brown</small></p>
      </div>
      <div class="col-xs-2">
        <img data-original="/assets/images/windows-doors/glass-dark-brown.jpg">
        <p class="hidden-xs text-center"><small>Dark Brown</small></p>
      </div>
      <div class="col-xs-2">
        <img data-original="/assets/images/windows-doors/glass-grey.jpg">
        <p class="hidden-xs text-center"><small>Grey</small></p>
      </div>
      <div class="col-xs-2">
        <img data-original="/assets/images/windows-doors/glass-green.jpg">
        <p class="hidden-xs text-center"><small>Green</small></p>
      </div>
      <div class="col-xs-2">
        <img data-original="/assets/images/windows-doors/reflective-green-glass.jpg">
        <p class="hidden-xs text-center"><small>Reflective Green</small></p>
      </div>
      <div class="col-xs-2">
        <img data-original="/assets/images/windows-doors/reflective-glass-blue.jpg">
        <p class="hidden-xs text-center"><small>Reflective Blue</small></p>
      </div>
    </div>


  </div>
</div>

<!--
<div class="single-quote pt">
  <img class="pull-left headshot" src="/assets/images/landing/headshot_joerg.jpg">
  <blockquote>
    <p>Sound proof as promised, competent service and timely delivery. The communication with German Windows and the service was excellent. Definitely a recommendation.</p>
    <footer>Jörg Schmidt on <cite title="Source Title">Facebook</cite></footer>
  </blockquote>
</div>
-->
