---
title: The best German aluminium windows in South-East Asia
nav-title: Why Q-Windows
page-title: German aluminium windows in South-East Asia
subtitle: "- the original"
callout: "While an energy efficient air-condition is great, the most saving will come from windows and doors that are optimised to reduce the heat transfer between the humid, hot, tropical outside and the cool, comfortable inside of your property. Let's have a look at the 2 most important factors: Glass and Profile."
layout: cover-page
permalink: /why-q-windows/
nav: cover
offset: one
cover: bg23
---

<h2>The best aluminium window and door system in Malaysia</h2>
<p>Q-Windows Malaysia is the only manufacturer of German soundproof, high-security aluminium windows and doors in Malaysia and Singapore. For a better life and higher standard of living, select Q-Windows.</p>

<h3>What our customers think</h3>

<div class="row">
{% for testimonial in site.testimonials %}
  <div class="col-sm-6">
    <div class="quote">
      <img class="pull-left headshot" src="{{ testimonial.image }}">
      <p class="testimonial">{{ testimonial.feedback }}</p>
      <p class="source">{{ testimonial.title }} on <cite title="Source Title">{{ testimonial.source }}</cite> <span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span></p>
    </div>
  </div>
{% endfor %}
</div>

<h2>What makes Q-Windows different</h2>
<h3>Years of experience</h3>

<ul class="large">
  <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Strong, soundproof aluminium profile with at least 50mm width</li>
  <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Laminated or double glazing, to reduce sound, heat and increase security</li>
  <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> German engineered, 2mm strong aluminium for maximum strength</li>
  <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Extremely durable, German hardware, made to last</li>
  <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Re-inforced aluminium profile corners</li>
  <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Thermal break chamber</li>
  <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 100% watertight, EPDM sealing</li>
  <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Professional installation by Q-Windows Malaysia</li>
  <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Individual requirements, color, size, glass</li>
</ul>

<h3>German hardware</h3>

<p>We exclusively use hardware manufactured by German companies like ROTO to provide a provide a long lasting product.</p>

<div class="row">
  <div class="col-sm-2 col-xs-6">
    <img data-original="/assets/images/type/roto-logo.png" alt="ROTO hardware">
  </div>
  <div class="col-sm-2 col-xs-6">
    <img data-original="/assets/images/type/hautau-logo.png" alt="HAUTAU hardware">
  </div>
  <div class="col-sm-2 col-xs-6">
    <img data-original="/assets/images/type/sigenia-aubi-logo.jpg" alt="Sigenia Aubi hardware">
  </div>
</div>

<h2>Exciting, elegant, luxurious - have it your way!</h2>
<h3>21 standard colors</h3>
<p>Our standard colors are white and brown but we have a selection of over 21 colors available.</p>

<div class="row text-center">
  <div class="col-xs-2 col-sm-1 text-center">
    <div style="background-color: #1E1E1E; height:50px;width:50px;" alt="..." class="img-thumbnail"></div>
    <p class="cc">7015M</p>
  </div>

  <div class="col-xs-2 col-sm-1 text-center">
    <div style="background-color: #F6F6F6; height:50px;width:50px;" alt="..." class="img-thumbnail"></div>
    <p class="cc">9016</p>
  </div>

  <div class="col-xs-2 col-sm-1 text-center">
    <div style="background-color: #FFFFFF; height:50px;width:50px;" alt="..." class="img-thumbnail"></div>
    <p class="cc">4115</p>
  </div>

  <div class="col-xs-2 col-sm-1 text-center">
    <div style="background-color: #0A0A0A; height:50px;width:50px;" alt="..." class="img-thumbnail"></div>
    <p class="cc">9005</p>
  </div>

  <div class="col-xs-2 col-sm-1 text-center">
    <div style="background-color: #F4F4F4; height:50px;width:50px;" alt="..." class="img-thumbnail"></div>
    <p class="cc">4018</p>
  </div>

  <div class="col-xs-2 col-sm-1 text-center">
    <div style="background-color: #212121; height:50px;width:50px;" alt="..." class="img-thumbnail"></div>
    <p class="cc">8019</p>
  </div>

  <div class="col-xs-2 col-sm-1 text-center">
    <div style="background-color: #45322E; height:50px;width:50px;" alt="..." class="img-thumbnail"></div>
    <p class="cc">8010</p>
  </div>

  <div class="col-xs-2 col-sm-1 text-center">
    <div style="background-color: #382C1E; height:50px;width:50px;" alt="..." class="img-thumbnail"></div>
    <p class="cc">8014</p>
  </div>

  <div class="col-xs-2 col-sm-1 text-center">
    <div style="background-color: #5B3A29; height:50px;width:50px;" alt="..." class="img-thumbnail"></div>
    <p class="cc">80375</p>
  </div>

  <div class="col-xs-2 col-sm-1 text-center">
    <div style="background-color: #293133; height:50px;width:50px;" alt="..." class="img-thumbnail"></div>
    <p class="cc">7028</p>
  </div>

  <div class="col-xs-2 col-sm-1 text-center">
    <div style="background-color: #464531; height:50px;width:50px;" alt="..." class="img-thumbnail"></div>
    <p class="cc">7013</p>
  </div>

  <div class="col-xs-2 col-sm-1 text-center">
    <div style="background-color: #4E5754; height:50px;width:50px;" alt="..." class="img-thumbnail"></div>
    <p class="cc">6133</p>
  </div>

  <div class="col-xs-2 col-sm-1 text-center">
    <div style="background-color: #4C514A; height:50px;width:50px;" alt="..." class="img-thumbnail"></div>
    <p class="cc">7505</p>
  </div>

  <div class="col-xs-2 col-sm-1 text-center">
    <div style="background-color: #969992; height:50px;width:50px;" alt="..." class="img-thumbnail"></div>
    <p class="cc">7004</p>
  </div>

  <div class="col-xs-2 col-sm-1 text-center">
    <div style="background-color: #2F4538; height:50px;width:50px;" alt="..." class="img-thumbnail"></div>
    <p class="cc">6005</p>
  </div>

  <div class="col-xs-2 col-sm-1 text-center">
    <div style="background-color: #1E2460; height:50px;width:50px;" alt="..." class="img-thumbnail"></div>
    <p class="cc">388</p>
  </div>

  <div class="col-xs-2 col-sm-1 text-center">
    <div style="background-color: #1D1E33; height:50px;width:50px;" alt="..." class="img-thumbnail"></div>
    <p class="cc">5211</p>
  </div>

  <div class="col-xs-2 col-sm-1 text-center">
    <div style="background-color: #CC0605; height:50px;width:50px;" alt="..." class="img-thumbnail"></div>
    <p class="cc">526</p>
  </div>

  <div class="col-xs-2 col-sm-1 text-center">
    <div style="background-color: #5E2129; height:50px;width:50px;" alt="..." class="img-thumbnail"></div>
    <p class="cc">35025</p>
  </div>

  <div class="col-xs-2 col-sm-1 text-center">
    <div style="background-color: #F44611; height:50px;width:50px;" alt="..." class="img-thumbnail"></div>
    <p class="cc">2019</p>
  </div>

  <div class="col-xs-2 col-sm-1 text-center">
    <div style="background-color: #E5BE01; height:50px;width:50px;" alt="..." class="img-thumbnail"></div>
    <p class="cc">1003</p>
  </div>
</div>

<h3>6 standard glass colors</h3>

<div class="row">
  <div class="col-xs-2 col-sm-2 text-center">
    <img data-original="/assets/images/windows-doors/glass-brown.jpg" alt="Brown glass color">
    <p class="cc">Brown</p>
  </div>
  <div class="col-xs-2 col-sm-2 text-center">
    <img data-original="/assets/images/windows-doors/glass-dark-brown.jpg" alt="Dark brown glass color">
    <p class="cc">Dark Brown</p>
  </div>
  <div class="col-xs-2 col-sm-2 text-center">
    <img data-original="/assets/images/windows-doors/glass-grey.jpg" alt="Grey glass color">
    <p class="cc">Grey</p>
  </div>
  <div class="col-xs-2 col-sm-2 text-center">
    <img data-original="/assets/images/windows-doors/glass-green.jpg" alt="Green glass color">
    <p class="cc">Green</p>
  </div>
  <div class="col-xs-2 col-sm-2 text-center">
    <img data-original="/assets/images/windows-doors/reflective-green-glass.jpg" alt="Reflective green glass color">
    <p class="cc">Reflective Green</p>
  </div>
  <div class="col-xs-2 col-sm-2 text-center">
    <img data-original="/assets/images/windows-doors/reflective-glass-blue.jpg" alt="Reflective blue glass color">
    <p class="cc">Reflective Blue</p>
  </div>
</div>

<h3>Georgian bars</h3>

<p>Georgian bar windows offers an extra design touch to enhance any architectural style or express the taste of any homeowner. The bars are fixed on both sides, inside and outside on top of the specified glazing. A sample of our patterns for casement windows is shown below.</p>

<div class="row">
  <div class="col-sm-2 col-xs-6">
    <img data-original="/assets/images/windows-doors/colonial-grille.png" alt="Colonial grille glass decoration">
  </div>
  <div class="col-sm-2 col-xs-6">
    <img data-original="/assets/images/windows-doors/prairie-grille.png" alt="Prairie grille glass decoration">
  </div>
</div>

<h3>Aluminium window types</h3>

<div class="row types">
  {% for type in site.types offset:1 %}
    {% if type.category contains "window" %}
    <div class="col-xs-6 col-sm-2 text-center">
      <a href="{{ type.permalink }}"><img data-original="{{ type.image }}" class="greyscale img-responsive pd20" alt="{{ type.title }}"></a>
      <a href="{{ type.permalink }}"><h4 class="cc">{{ type.title }}</h4></a>
    </div>
    {% endif %}
  {% endfor %}
</div>

<h3>Aluminium door types</h3>

<div class="row types">
  {% for type in site.types %}
    {% if type.category contains "door" %}
    <div class="col-xs-6 col-sm-2 text-center">
      <a href="{{ type.permalink }}"><img data-original="{{ type.image }}" class="greyscale img-responsive pd20" alt="{{ type.title }}"></a>
      <a href="{{ type.permalink }}"><h4 class="cc">{{ type.title }}</h4></a>
    </div>
    {% endif %}
  {% endfor %}
</div>

<hr>

<h3>Discover our new, German entrance and interior door range 2017/2018</h3>

<br>

<div class="row">
  <div class="col-sm-6">
    <a href="/type/burglar-resistant-entrance-doors/">
      <img data-original="/assets/images/burglar-resistant-entrance-door-example01.png">
    </a>
    <h4 class="text-center"><a href="/type/burglar-resistant-entrance-doors/">German Burglar-Resistant Apartment Entrance Door</a></h4>
  </div>
  <div class="col-sm-6">
    <a href="/type/premium-interior-doors/">
      <img data-original="/assets/images/premium-interior-door-example03.png">
    </a>
    <h4 class="text-center"><a href="/type/premium-interior-doors/">German Premium Interior Doors</a></h4>
  </div>
</div>
