<div class="contactform">
  <div class="form-group">
    <p><strong>Apply today!</strong>
    <br><small>Fields marked with * are required</small></p>
  </div>

  <div class="form">
    <form action="https://form.dkkma.com/process.php" method="post" enctype="multipart/form-data" data-parsley-validate>

      <div class="form-group">
        <label for="first_name">Your Details</label>
        <input id="first_name" name="first_name" type="text" class="form-control" placeholder="First Name *" data-parsley-error-message="Enter your first name." required>
      </div>
      <div class="form-group">
        <input id="last_name" name="last_name" type="text" class="form-control" placeholder="Last Name *" data-parsley-error-message="Enter your last name." required>
      </div>
      <div class="form-group">
        <input id="email_address" name="email_address" type="email" class="form-control" placeholder="Email address *" required>
      </div>
      <div class="form-group">
        <input id="mobile_phone_number" name="mobile_phone_number" type="number" class="form-control" placeholder="Mobile phone *" required>
      </div>
      <div class="form-group">
        <label for="hometowm">Your Hometown</label>
        <input id="hometown" name="hometowm" type="text" class="form-control" placeholder="Kuala Lumpur *" data-parsley-error-message="Please provide us with your address." required>
      </div>

      <hr>

      <div class="form-group">
        <label for="experience">Years of Experience</label>
        <select class="form-control" id="experience" name="experience" type="text" required>
          <option value="Fresh Graduate">Fresh Graduate</option>
          <option value="1 - 2 years">1 - 2 years</option>
          <option value="2 - 5 years">2 - 5 years</option>
          <option value="5 - 10 years">5 - 10 years</option>
          <option value="Above 10 years">Above 10 years</option>
        </select>
      </div>

      <div class="form-group">
        <label for="experience_sales">Experience in Sales</label>
        <select class="form-control" id="experience_sales" name="experience_sales" type="text" required>
          <option value="yes">Yes, I have sales experience</option>
          <option value="no">No, I don't have sales experience</option>
        </select>
      </div>

      <div class="form-group">
        <label for="salary_previous">Last Drawn Salary</label>
        <input id="salary_previous" name="salary_previous" type="text" class="form-control" data-parsley-error-message="Enter your last salary" required>
      </div>

      <div class="form-group">
        <label for="salary_expected">Expected Salary</label>
        <input id="salary_expected" name="salary_expected" type="text" class="form-control" data-parsley-error-message="Enter your expected salary" required>
      </div>

      <div class="form-group">
        <label for="notice">Notice Period</label>
        <select class="form-control" id="notice" name="notice" type="text" required>
          <option value="Immideate">Immideate</option>
          <option value="1 week notice">1 week notice</option>
          <option value="1 month notice">1 month notice</option>
        </select>
      </div>

      <div class="form-group">
        <label for="resume">Upload Your Resume Here (.doc or .pdf)</label>
        <input type="file" id="resume" name="resume">
        <p class="help-block">Max. file size: 1MB</p>
      </div>

      <hr>

      <div class="form-group">
        <label for="comments">Your Message</label>
        <textarea id="message" name="message" class="form-control" rows="4"{% if page.contactform %} placeholder="{{ page.contactform }}"{% endif %}></textarea>
      </div>

      <input type="hidden" name="position" value="Sales Representative" />
      <input type="hidden" name="honey" value="" />
      <input type="hidden" name="form_tools_form_id" value="34" />

      <button type="submit" value="Submit" class="btn btn-default" onclick="javascript:_paq.push(['trackEvent', 'Job-Application-Form', 'Submit']);">Submit</button>
    </form>
  </div>
</div>
