<img class="innovative-product-award" data-original="/assets/images/innovative-product-award.png" width="101px" height="100px">
<div class="cover-bg{% if page.type %} index{% endif %}"{% if page.url == "/window-replacement/condominiums/" %} id="map"{% endif %}>
  <div class="cover">
    <div class="quick-contact hidden-xs">
      <div class="container">
        <ul>
          <li class="no-link">Aluminium Window & Door Manufacturing, Installation / Replacement</li>
        </ul>
        <ul class="pull-right">
          <li class=""><a href="tel:+60374950339" onclick="javascript:_paq.push(['trackEvent', 'Contact', 'Phone (Top)']);">Quick question? Call us now! <b>+603 7495 0339</b> (Monday - Friday, 9 AM to 6 PM)</a></li>
        </ul>
      </div>
    </div>
    <div class="navigation">
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed toggle-menu" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"></a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <!--<li><a data-toggle="modal" data-target="#myModal">Subscribe</a></li>-->
              <li><a {% if page.url contains "/search/" %}class="active" {% endif %}href="/search/">Search</a></li>
              <!--<li><a {% if page.url contains "/technicals/" %}class="active" {% endif %}href="/windows-doors/technicals/">Technicals</a></li>-->
              <li><a {% if page.url contains "/projects/" %}class="active" {% endif %}href="/projects/">Projects</a></li>
              <li><a {% if page.url contains "/window-replacement/condominium/" %}class="active"{% elsif page.url contains "/product/"%}class="active" {% endif %}href="/window-replacement/condominium/">Condo</a></li>
              <li><a {% if page.url contains "/contact/" %}class="active" {% endif %}href="/contact/">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="page-title{% if page.subtitle %} subtitle{% endif %}">
      <div class="container">
        <h1><span>{% if page.page-title %}{{ page.page-title | escape }}{% else %}{{ page.title | escape }}{% endif %}</span></h1>
        {% if page.subtitle %}<h1 class="sub"><span>{{ page.subtitle }}</span></h1>{% endif %}
      </div>
    </div>
  </div>
</div>

<!-- Email Subscription -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content dark">

      <form action="//q-windows.us3.list-manage.com/subscribe/post?u=a863b19ebecc4bb0892a040f8&amp;id=cdc26bade8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" data-parsley-validate>

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign-up and benefit huge!</h4>
      </div>
      <div class="modal-body">
        <div class="row">

          <div class="col-sm-6">

            <p>Be part of the thriving Q-Windows community and enjoy exclusive deals, discounts as well as receive the latest news and tips all around windows and home ownership.</p>

            <ul class="default">
              <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Exclusive deals and discounts</li>
              <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Access to Q-Windows Experts</li>
              <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Tips for home owners in MY</li>
              <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Insider news</li>
            </ul>

          </div>
          <div class="col-sm-6">

            <div class="contactform">
                <div class="form-group">
                  <label for="EMAIL">Email address</label>
                  <input type="email" class="form-control" name="EMAIL" id="mce-EMAIL" placeholder="Your email address *" required>
                </div>
                <div class="form-group">
                  <label for="FNAME">First Name</label>
                  <input type="text" class="form-control" name="FNAME" id="mce-FNAME" placeholder="First Name">
                </div>
                <div class="form-group">
                  <label for="LNAME">Last Name</label>
                  <input type="text" class="form-control" name="LNAME" id="mce-LNAME" placeholder="Last Name">
                </div>
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                  <input type="text" name="b_a863b19ebecc4bb0892a040f8_cdc26bade8" tabindex="-1" value="">
                </div>

            </div>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal">I don't want any deals.</button>
        <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default">Sign me up now!</button>
      </div>
      </form>
    </div>
  </div>
</div>
<!-- /Email Subscription -->
