<img alt="Innovative Product Award 2017 for Q-Windows Malaysia - Homedec Malaysia" class="innovative-product-award" data-original="/assets/images/innovative-product-award-2017.png" width="101px" height="100px">
<div class="cover-bg{% if page.type %} index{% endif %}"{% if page.url == "/window-replacement/condominiums/" %} id="map"{% endif %}>
  <div class="cover">
    <div class="quick-contact hidden-xs">
      <div class="container">
        <ul>
          <li class="no-link">Aluminium Window & Door Manufacturing, Installation / Replacement</li>
        </ul>
        <ul class="pull-right">
          <li class="">
            <a href="tel:+60374950339" onclick="javascript:_paq.push(['trackEvent', 'Contact', 'Phone (Top)']);">Questions? Call us now! <b>+603 7495 0339</b> (Mon - Fri, 9 AM to 6 PM)</a>
					</li>
					<li class="">
						<a href="https://m.me/q.windows">Facebook Messenger</a>
					</li>
        </ul>
      </div>
    </div>
    <div class="navigation">
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed toggle-menu" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"></a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <!--<li><a data-toggle="modal" data-target="#myModal">Subscribe</a></li>-->
              <li><a {% if page.url contains "/search/" %}class="active" {% endif %}href="/search/">Search</a></li>
              <li><a {% if page.url contains "/downloads/" %}class="active" {% endif %}href="/downloads/">Downloads</a></li>
              <li><a {% if page.url contains "/videos/" %}class="active" {% endif %}href="/videos/">Videos</a></li>
              <!--<li><a {% if page.url contains "/technicals/" %}class="active" {% endif %}href="/windows-doors/technicals/">Technicals</a></li>-->
              <li><a {% if page.url contains "/projects/" %}class="active" {% endif %}href="/projects/">Projects</a></li>
              <!--<li><a {% if page.url contains "/window-replacement/condominium/" %}class="active" {% elsif page.url contains "/product/"%}class="active" {% endif %}href="/window-replacement/condominium/">Condo</a></li>-->
              <li><a {% if page.url contains "/reviews/" %}class="active" {% elsif page.url contains "/reviews/"%}class="active" {% endif %}href="/reviews/">Reviews</a></li>
              <li><a target="_blank" href="https://german-windows-malaysia.business.site/">Short View</a></li>
              <li><a {% if page.url contains "/contact/" %}class="active" {% endif %}href="/contact/">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    {% if page.promo.active == true %}
    <div class="page-title{% if page.subtitle %} subtitle{% endif %}">
      <div class="container promo">
        <a href="{{ page.promo.destination }}" onclick="javascript:_paq.push(['trackEvent', 'Promo-11-11', 'Homepage to Landing Page']);">
          <span class="line l1">11% off any order</span>
          <span class="line l2">11.11</span>
          <span class="line l3">SPECIAL</span>
          <span class="line l4">From 1/11 - 30/11/2018</span>
        </a>
      </div>
    </div>
    {% else %}
    <div class="page-title{% if page.subtitle %} subtitle{% endif %}">
      <div class="container">
        <h1><span>{% if page.page-title %}{{ page.page-title | escape }}{% else %}{{ page.title | escape }}{% endif %}</span></h1>
        {% if page.subtitle %}<h1 class="sub"><span>{{ page.subtitle }}</span></h1>{% endif %}
      </div>
    </div>
    {% endif %}
  </div>
</div>
