{% capture share-url %}{{ page.title }} on {{ site.url }}{{ page.url }}{% endcapture %}

<div class="subnav{% if page.type %} index{% endif %}">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 text-center">
        <a class="soundproof{% if page.url contains "/soundproofing/" %} active{% endif %}" href="/soundproofing/">Soundproof</a>
      </div>
      <div class="col-sm-3 text-center">
        <a class="security{% if page.url contains "/security/" %} active{% endif %}" href="/security/">High security</a>
      </div>
      <div class="col-sm-3 text-center">
        <a class="energy-saving{% if page.url contains "/energy-saving/" %} active{% endif %}" href="/energy-saving/">Energy savings</a>
      </div>
      <div class="col-sm-3 text-center">
        <a class="why-q-windows{% if page.url contains "/why-q-windows/" %} active{% endif %}" href="/why-q-windows/">Why Q-Windows</a>
      </div>
    </div>
  </div>
</div>
