<!-- Email Subscription -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content dark">

      <form action="//q-windows.us3.list-manage.com/subscribe/post?u=a863b19ebecc4bb0892a040f8&amp;id=cdc26bade8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" data-parsley-validate>

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign-up and benefit huge!</h4>
      </div>
      <div class="modal-body">
        <div class="row">

          <div class="col-sm-6">

            <p>Be part of the thriving German Windows community and enjoy exclusive deals, discounts as well as receive the latest news and tips all around windows and home ownership.</p>

            <ul class="default">
              <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Exclusive deals and discounts</li>
              <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Access to German Windows Experts</li>
              <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Tips for home owners in MY</li>
              <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Insider news</li>
            </ul>

          </div>
          <div class="col-sm-6">

            <div class="contactform">
                <div class="form-group">
                  <label for="EMAIL">Email address</label>
                  <input type="email" class="form-control" name="EMAIL" id="mce-EMAIL" placeholder="Your email address *" required>
                </div>
                <div class="form-group">
                  <label for="FNAME">First Name</label>
                  <input type="text" class="form-control" name="FNAME" id="mce-FNAME" placeholder="First Name">
                </div>
                <div class="form-group">
                  <label for="LNAME">Last Name</label>
                  <input type="text" class="form-control" name="LNAME" id="mce-LNAME" placeholder="Last Name">
                </div>
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                  <input type="text" name="b_a863b19ebecc4bb0892a040f8_cdc26bade8" tabindex="-1" value="">
                </div>

            </div>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal">I don't want any deals.</button>
        <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default">Sign me up now!</button>
      </div>
      </form>
    </div>
  </div>
</div>
<!-- /Email Subscription -->
