<h3>Glass configuration</h3>

<p>Choose the right glass to maximize performance. For additional assistance, don&#39;t hesitate to get in touch with our team.</p>

<ul>
	<li>Laminated, 6.38 mm (3- 0.38 PVD-3)</li>
	<li>Laminated, 10.38 mm (5- 0.38 PVD-5)</li>
	<li>Insulated (IGU), 22 mm (5- 12 Air -5)</li>
	<li>Insulated (IGU), 21.76 mm (8.38 - 6 Air -7.38)</li>
</ul>

<h3>Glass appearance</h3>

<ul>
	<li>Clear</li>
	<li>Grey</li>
	<li>Light green</li>
	<li>Light brown</li>
	<li>Dark brown</li>
	<li>Light black</li>
	<li>Reflective brown</li>
	<li>Reflective black</li>
</ul>

<h3>Preview</h3>

<p>To see all colors or samples, please get in touch with us.</p>

<div class="row" id="introduction">
  <div class="col-xs-2">
  <img src="/assets/images/windows-doors/glass-brown.jpg">
  <p class="hidden-xs">Brown</p>
  </div>
  <div class="col-xs-2">
  <img src="/assets/images/windows-doors/glass-dark-brown.jpg">
  <p class="hidden-xs">Dark Brown</p>
  </div>
  <div class="col-xs-2">
  <img src="/assets/images/windows-doors/glass-grey.jpg">
  <p class="hidden-xs">Grey</p>
  </div>
  <div class="col-xs-2">
  <img src="/assets/images/windows-doors/glass-green.jpg">
  <p class="hidden-xs">Green</p>
  </div>
  <div class="col-xs-2">
  <img src="/assets/images/windows-doors/reflective-green-glass.jpg">
  <p class="hidden-xs">Reflective Green</p>
  </div>
  <div class="col-xs-2">
  <img src="/assets/images/windows-doors/reflective-glass-blue.jpg">
  <p class="hidden-xs">Reflective Blue</p>
  </div>
</div>
