<h3>Hardware</h3>

{% if page.hardware contains "roto" %}
<div class="row">
  <div class="col-sm-4">
    <p>We exclusively use hardware manufactured by German companies like ROTO to provide a provide a long lasting product. To find out more about our hardware, download the catalog on the right side.</p>
  </div>
  <div class="col-sm-4">
    <a href="/assets/upload/catalog/Q-Windows-ROTO-NT.pdf"><img src="/assets/upload/catalog/Q-Windows-ROTO-NT.jpg"></a>
  </div>
  <div class="col-sm-4">
    <img src="/assets/upload/type/roto-logo.png">
  </div>
</div>
{% endif %}
{% if page.hardware contains "hautau" %}
<div class="row">
  <div class="col-sm-4">
    <p>We exclusively use hardware manufactured by German companies like HAUTAU to provide a provide a long lasting product.</p>
  </div>
  <div class="col-sm-4">
    <a href="/assets/upload/catalog/Q-Windows-Sliding-Door-Hardware.pdf"><img src="/assets/upload/catalog/Q-Windows-Sliding-Door-Hardware.jpg"></a>
  </div>
  <div class="col-sm-4">
    <a href="#"><img src="/assets/upload/type/hautau-logo.png"></a>
  </div>
</div>
{% endif %}
{% if page.hardware contains "sigenia" %}
<div class="row">
  <div class="col-sm-4">
  <p>We exclusively use hardware manufactured by German companies like Sigenia-Aubi and HAUTAU to provide a provide a long lasting product. To find out more about our hardware, download the catalog on the right side.</p>
  </div>
  <div class="col-sm-4">
    <p><a href="/assets/upload/catalog/Q-_Windows_Sliding_Door_Hardware_Siegnia-Aubi.pdf"><img src="/assets/upload/catalog/Q--Windows-Sliding-Door-Hardware-Siegnia-Aubi.jpg"></a></p>
  </div>
  <div class="col-sm-4">
    <p><a href="#"><img src="/assets/upload/type/sigenia-aubi-logo.jpg"></a></p>
  </div>
</div>
{% endif %}
