<h3>Color</h3>

<p>Our standard colors are white and brown but we have a selection of over 21 colors available. Our Online color-sheet will give you a better indication of our entire range. Please enquire with us if you have any questions.</p>

<p><a href="/ral/">See the full color chart</a></p>

<h3>Standard Color</h3>

<div class="row">

  <div class="col-xs-2 text-center">
    <div style="background-color: #1E1E1E; width:100%; height:44px;" alt="Q-Windows standard color" class="img-thumbnail"></div>
  </div>

  <div class="col-xs-2 text-center">
    <div style="background-color: #F6F6F6; width:100%; height:44px;" alt="Q-Windows standard color" class="img-thumbnail"></div>
  </div>

  <div class="col-xs-2 text-center">
    <div style="background-color: #FFFFFF; width:100%; height:44px;" alt="Q-Windows standard color" class="img-thumbnail"></div>
  </div>

  <div class="col-xs-2 text-center">
    <div style="background-color: #0A0A0A; width:100%; height:44px;" alt="Q-Windows standard color" class="img-thumbnail"></div>
  </div>

  <div class="col-xs-2 text-center">
    <div style="background-color: #F4F4F4; width:100%; height:44px;" alt="Q-Windows standard color" class="img-thumbnail"></div>
  </div>

  <div class="col-xs-2 text-center">
    <div style="background-color: #212121; width:100%; height:44px;" alt="Q-Windows standard color" class="img-thumbnail"></div>
  </div>

  <div class="col-xs-2 text-center">
    <div style="background-color: #45322E; width:100%; height:44px;" alt="Q-Windows standard color" class="img-thumbnail"></div>
  </div>

  <div class="col-xs-2 text-center">
    <div style="background-color: #382C1E; width:100%; height:44px;" alt="Q-Windows standard color" class="img-thumbnail"></div>
  </div>

  <div class="col-xs-2 text-center">
    <div style="background-color: #5B3A29; width:100%; height:44px;" alt="Q-Windows standard color" class="img-thumbnail"></div>
  </div>

  <div class="col-xs-2 text-center">
    <div style="background-color: #293133; width:100%; height:44px;" alt="Q-Windows standard color" class="img-thumbnail"></div>
  </div>

  <div class="col-xs-2 text-center">
    <div style="background-color: #464531; width:100%; height:44px;" alt="Q-Windows standard color" class="img-thumbnail"></div>
  </div>

  <div class="col-xs-2 text-center">
    <div style="background-color: #4E5754; width:100%; height:44px;" alt="Q-Windows standard color" class="img-thumbnail"></div>
  </div>

  <div class="col-xs-2 text-center">
    <div style="background-color: #4C514A; width:100%; height:44px;" alt="Q-Windows standard color" class="img-thumbnail"></div>
  </div>

  <div class="col-xs-2 text-center">
    <div style="background-color: #969992; width:100%; height:44px;" alt="Q-Windows standard color" class="img-thumbnail"></div>
  </div>

  <div class="col-xs-2 text-center">
    <div style="background-color: #2F4538; width:100%; height:44px;" alt="Q-Windows standard color" class="img-thumbnail"></div>
  </div>

  <div class="col-xs-2 text-center">
    <div style="background-color: #1E2460; width:100%; height:44px;" alt="Q-Windows standard color" class="img-thumbnail"></div>
  </div>

  <div class="col-xs-2 text-center">
    <div style="background-color: #1D1E33; width:100%; height:44px;" alt="Q-Windows standard color" class="img-thumbnail"></div>
  </div>

  <div class="col-xs-2 text-center">
    <div style="background-color: #CC0605; width:100%; height:44px;" alt="Q-Windows standard color" class="img-thumbnail"></div>
  </div>

  <div class="col-xs-2 text-center">
    <div style="background-color: #5E2129; width:100%; height:44px;" alt="Q-Windows standard color" class="img-thumbnail"></div>
  </div>

  <div class="col-xs-2 text-center">
    <div style="background-color: #F44611; width:100%; height:44px;" alt="Q-Windows standard color" class="img-thumbnail"></div>
  </div>

  <div class="col-xs-2 text-center">
    <div style="background-color: #E5BE01; width:100%; height:44px;" alt="Q-Windows standard color" class="img-thumbnail"></div>
  </div>

</div>
