<h3>Georgian Bars</h3>

<p>A Georgian bar windows offers an extra design touch to enhance any architectural style or express the taste of any homeowner. The bars are fixed on both sides, inside and outside on top of the specified glazing.</p>

<p>A sample of our patterns for casement windows is shown below. Many more are available. Patterns for other windows or patio doors may differ, depending on product type and size.</p>

 <div class="row">
  <div class="col-sm-3">
      <img alt="Georgian bars: Colonial Grille" src="/assets/images/windows-doors/colonial-grille.png">
      <p style="text-transform:uppercase; text-align: center;">Colonial</p>
  </div>
  <div class="col-sm-3">
    <img alt="Georgian bars: Prairie Grille" src="/assets/images/windows-doors/prairie-grille.png">
    <p style="text-transform:uppercase; text-align: center;">Prairie</p>
  </div>
</div>
