---
title: "German Soundproof, High-Security Windows in Singapore"
page-title: German Soundproof, High-Security Windows for Singapore
description: "Q-Windows is the only manufacturer of German soundproof, high-security aluminium windows and doors in Singapore. For a better life and higher standard of living, select Q-Windows."
image: sharing_cover.jpg
subtitle: "- the original"
layout: singapore
permalink: /singapore/
cover: bg34
type: index
sitemap: false
excluded: true
---

<div class="container content">

  <div class="section">

    <h2>Discover our range of German entrance and interior doors</h2>

    {% for range in site.product_westag %}
    {% if range.type == "door" %}

    <h3>{{ range.nav-title }}
    <br><small>{{ range.page-title }}</small></h3>

    <div class="row">
      <div class="col-sm-4">
        <img class="pre204" alt="{{ range.image1_alt }}" data-original="https://q-windows.com.my/assets/images/westag/{{ range.category }}/{{ range.image1 }}">
      </div>
      <div class="col-sm-4">
        <img class="pre204" alt="{{ range.image2_alt }}" data-original="https://q-windows.com.my/assets/images/westag/{{ range.category }}/{{ range.image2 }}">
      </div>
      <div class="col-sm-4">
        <img class="pre204" alt="{{ range.image3_alt }}" data-original="https://q-windows.com.my/assets/images/westag/{{ range.category }}/{{ range.image3 }}">
      </div>
    </div>

    <p>{{ range.intro }}</p>

    {% endif %}
    {% endfor %}

    <hr>

    <p><a href="https://q-windows.com.my/assets/files/WESTAG-catalog.pdf">Download the Westag & Getalit catalog</a> (13.5 MB, PDF)</p>

  </div>
  <div class="section">

    <div class="options">

      <h2>Find the perfect alumium window for your house or apartment</h2>
      <h3>Aluminium windows
      <br><small>Soundproof, watertight and burglar-resistant</small></h3>

      <div class="row">
        {% for type in site.types offset:1 %}
        {% if type.category == "window" %}
        <div class="col-xs-6 col-sm-2 text-center">
          <a href="https://q-windows.com.my{{ type.permalink }}"><img class="greyscale img-responsive" src="https://q-windows.com.my{{ type.image }}"></a>
          <a href="https://q-windows.com.my{{ type.permalink }}"><h4>{{ type.title }}</h4></a>
        </div>
        {% endif %}
        {% endfor %}
      </div>

      <h3>Aluminium doors
      <br><small>Soundproof, watertight, burglar-resistant and suitable even for large openings</small></h3>

      <div class="row">
        {% for type in site.types %}
        {% if type.category == "door" %}
        <div class="col-xs-6 col-sm-2 text-center">
          <a href="https://q-windows.com.my{{ type.permalink }}"><img class="greyscale img-responsive" src="https://q-windows.com.my{{ type.image }}"></a>
          <a href="https://q-windows.com.my{{ type.permalink }}"><h4>{{ type.title }}</h4></a>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>

  </div>
  <div class="section">

    <h2 id="contact">Get in touch today</h2>

    <h3>Experience the difference
    <br><small>in product quality, customer service and professionalism</small></h3>

    <hr>

    <div class="row">
      <div class="col-sm-4">

        {% include contactform.html %}

      </div>
      <div class="col-sm-8">

        <div class="row">
          <div class="col-sm-6">
            <address>
              <p><strong>Q Windows & Doors Singapore </strong>
              <br>8 Ubi Road 2
              <br>#03-06 Zervex
              <br>Singapore 408538</p>

              <p><a class="large link" target="_blank" href="https://q-windows.com.my/assets/files/Q-Windows-System-Catalogue-2017.pdf" onclick="javascript:_paq.push(['trackEvent', 'Download', 'Catalog']);"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> Download our Catalog <small>(PDF, 4.8 MB)</small></a></p>


              <p><abbr title="Tel">Tel:</abbr> <a href="tel:+6590298583" onclick="javascript:_paq.push(['trackEvent', 'Contact', 'Phone (Contact Page SG)']);">+65 9029 8583</a>
              <br><abbr title="Fax">Fax:</abbr> +65 6841 4945
              <br><abbr title="Mail">Mail:</abbr> <a href="mailto:enquiry@q-windows.com.sg?subject=Q-Windows Enquiry&body=Please tell us more about your requirements:" onclick="javascript:_paq.push(['trackEvent', 'Contact', 'Email (Contact Page SG)']);">enquiry@q-windows.com.sg</a></p>

              <p><strong>Business Hours</strong>
              <br>Monday - Friday, 9 AM to 6 PM</p>
            </adress>
          </div>
          <div class="col-sm-6">
            <a target="_blank" href="https://www.google.se/maps/place/Zervex+Building/@1.3339465,103.8930339,17z/data=!3m1!4b1!4m5!3m4!1s0x31da17f246728dd1:0xa76f5c4b1a7076a4!8m2!3d1.3339411!4d103.8952279?hl=en" onclick="javascript:_paq.push(['trackEvent', 'Open', 'Google Maps SG']);"><img src="https://api.mapbox.com/styles/v1/mapbox/light-v9/static/pin-s-q+f64c00(103.8930339,1.3339465)/103.8930339,1.3339465,14,0/300x300@2x?access_token=pk.eyJ1IjoiZGtrbWEiLCJhIjoiY2owdzlneDYyMDAwZjMycGI4N2txNG9payJ9.M83WLXQ1oaLidrGmlin0_Q"></a>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<style>
.cover-bg {
  background-image: url(https://q-windows.com.my/assets/images/bg34.jpg)!important;
}
</style>
