@import url("bootstrap.min.css");
@import url("../slick/slick.css");

body {
  font-family: 'Open Sans', sans-serif;
}

.section {
  padding-top:40px;
  padding-bottom:40px;
}

.section.projects {
  background-image: url(../images/background-projects.jpg);
  background-size: cover;
}

.container {
  max-width: 960px;
}

.h1, h1 {
  font-size: 36px;
  color: #fff;
}

h2 {
  color: #FF530D;
  margin-bottom: 30px;
}

p.class {

}

.orange {
  background-color: #f14c0d;
  color: #fff;
}

.orange h2 {
  color: #fff;
}

.color h2 small {
  color: #fff;
}

.highlights .highlight {

}

.highlights .highlight .wrapper {
  background-color: #fff;
  padding: 14px;
  min-height: 126px;
  display: flex;
  align-items: center;
}

.highlights .highlight p {
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  color: #f14c0d;
}

.section.cover {
  background-image: url(../../../assets/images/bg12.jpg);
  background-size: cover;
  padding:0px;
}

.section.cover .overlay {
  padding-top: 140px;
  padding-bottom: 40px;
  background-color: rgba(0, 0, 0, 0.4);
}

.slick-slide img {
  height:200px;
  background-color: #000;
  border: 8px solid #fff;
}

.contactform {
  background: #ff530d;
  background: -moz-linear-gradient(-45deg,#ff530d 0,#d83f0d 100%);
  background: -webkit-linear-gradient(-45deg,#ff530d 0,#d83f0d 100%);
  background: linear-gradient(135deg,#ff530d 0,#d83f0d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff530d', endColorstr='#d83f0d', GradientType=1);
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 16px;
}

.contactform p.help-block {
  color:#fff;
}

ul.checklist {
  list-style: none;
  padding-left: 0px;
}

ul.checklist li {
  font-size: 20px;
  line-height: 34px;
}

ul.checklist li .glyphicon {
  font-size: 18px;
  color: #ff530d;
}

.footer {
  background: #ff530d;
}

.footer p, .footer a {
  padding-top:10px;
  color: #fff;
}

p.call-out {
  font-size: 28px;
  margin: 0px;
}

p.mt40 {
  margin-top:40px;
}

button {
  color: #fff;
  padding: 4px;
  margin: 2px 2px 2px 0px;
  border-radius: 2px;
  border: 1px solid #f14c0d;
  background-color: #f14c0d;
  min-width: 70px;
}

@media (max-width: 768px) {
  .highlights .highlight .wrapper {
    min-height: 90px;
    margin-bottom: 20px;
  }
}
