---
layout: default
---

{% if page.url == "/window-replacement/condominium/" %}
<div class="container content">
  <h2>Search for your apartment or condominium</h2>
  <p><b>It only takes seconds</b> to find a 100% matching, soundproof, German quality aluminium window for your apartment or condominium - all around Kuala Lumpur. Simply search for your property or select it on the map, to see available options, specs and pricing.</p>
</div>
<div id="map-popups-js" class="map"></div>
{% endif %}

<div class="container content">
  {{ content }}
</div>

{% if page.url == "/contact/" %}
<div class="container">
  <div class="pd40" style="padding-bottom:0px;">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-2">
        <p><strong>Meet our CEO</strong></p>
        <blockquote>
          <p>Q-Windows is a company that’s been innovating windows for more than 20 years - a name synonymous with quality - you can be sure we'll be here when you need us.</p>
          <footer>Andre Geffke <cite title="Source Title">Owner & CEO</cite></footer>
        </blockquote>
      </div>
      <div class="col-sm-4">
        <img data-original="/assets/images/landing/owner.jpg" alt="Andre Geffke - Owner & CEO, Q-Windows Malaysia" style="margin-bottom:0px;">
      </div>
    </div>
  </div>
</div>
{% endif %}
