---
layout: default
---

{% if page.url == "/window-replacement/condominium/" %}
<div class="container content">
  <h2>Search for your apartment or condominium</h2>
  <p><b>It only takes seconds</b> to find a 100% matching, soundproof, German quality aluminium window for your apartment or condominium - all around Kuala Lumpur. Simply search for your property to see available options, specs and pricing.</p>
</div>
<div id="map"></div>
{% endif %}
<div class="container content">
  {{ content }}
</div>
