---
layout: default
---

<div class="container content">

  <h2>Replacement Windows</h2>
  <p>Window replacement should be quick and easy. With Q-Windows, you get a German quality, aluminium replacement window that's made to last and <b>tailored to your apartment at {{ page.title }}</b>. Simply fill out the enquiry form below and we'll reach out to schedule an appointment. Not living at {{ page.title }}? <a href="/window-replacement/condominium/">Check-out our other offers.</a></p>

  <h3>German Aluminium Replacement Window(s) for {{ page.title }}
  <br><small>at {{ page.address }}</small></h3>

  <div class="row">
    <div class="col-sm-3">
      <div class="compressed">

        <h4>Window element</h4>

        {% if page.prd01_location %}

          <img data-original="/assets/images/products/{{ page.ref }}prd01.png" alt="{{ page.title }} replacement window ({{ page.ref }}prd01.png)">
          <h5>{{ page.prd01_location }}
          <br><small>Ref: {{ page.ref }}prd01</small></h5>
          <p>Offer: <amount>{{ page.prd01_price }} MYR</amount> only</p>

        {% endif %}

        {% if page.prd02_location %}

          <img data-original="/assets/images/products/{{ page.ref }}prd02.png" alt="{{ page.title }} replacement window ({{ page.ref }}prd02.png)">
          <h5>{{ page.prd02_location }}
          <br><small>Ref: {{ page.ref }}prd02</small></h5>
          <p>Offer: <amount>{{ page.prd02_price }} MYR</amount> only</p>

        {% endif %}

        {% if page.prd03_location %}

          <img data-original="/assets/images/products/{{ page.ref }}prd03.png" alt="{{ page.title }} replacement window ({{ page.ref }}prd03.png)">
          <h5>{{ page.prd03_location }}
          <br><small>Ref: {{ page.ref }}prd03</small></h5>
          <p>Offer: <amount>{{ page.prd03_price }} MYR</amount> only</p>

        {% endif %}

        {% if page.prd04_location %}

          <img data-original="/assets/images/products/{{ page.ref }}prd04.png" alt="{{ page.title }} replacement window ({{ page.ref }}prd04.png)">
          <h5>{{ page.prd04_location }}
          <br><small>Ref: {{ page.ref }}prd04</small></h5>
          <p>Offer: <amount>{{ page.prd04_price }} MYR</amount> only</p>

        {% endif %}

        {% if page.prd05_location %}

          <img data-original="/assets/images/products/{{ page.ref }}prd05.png" alt="{{ page.title }} replacement window ({{ page.ref }}prd05.png)">
          <h5>{{ page.prd05_location }}
          <br><small>Ref: {{ page.ref }}prd05</small></h5>
          <p>Offer: <amount>{{ page.prd05_price }} MYR</amount> only</p>

        {% endif %}

        {% if page.prd06_location %}

          <img data-original="/assets/images/products/{{ page.ref }}prd06.png" alt="{{ page.title }} replacement window ({{ page.ref }}prd06.png)">
          <h5>{{ page.prd06_location }}
          <br><small>Ref: {{ page.ref }}prd06</small></h5>
          <p>Offer: <amount>{{ page.prd06_price }} MYR</amount> only</p>

        {% endif %}

        {% if page.prd07_location %}

          <img data-original="/assets/images/products/{{ page.ref }}prd07.png" alt="{{ page.title }} replacement window ({{ page.ref }}prd07.png)">
          <h5>{{ page.prd07_location }}
          <br><small>Ref: {{ page.ref }}prd07</small></h5>
          <p>Offer: <amount>{{ page.prd07_price }} MYR</amount> only</p>

        {% endif %}

        {% if page.prd08_location %}

          <img data-original="/assets/images/products/{{ page.ref }}prd08.png" alt="{{ page.title }} replacement window ({{ page.ref }}prd08.png)">
          <h5>{{ page.prd08_location }}
          <br><small>Ref: {{ page.ref }}prd08</small></h5>
          <p>Offer: <amount>{{ page.prd08_price }} MYR</amount> only</p>

        {% endif %}

        {% if page.prd09_location %}

          <img data-original="/assets/images/products/{{ page.ref }}prd09.png" alt="{{ page.title }} replacement window ({{ page.ref }}prd09.png)">
          <h5>{{ page.prd09_location }}
          <br><small>Ref: {{ page.ref }}prd09</small></h5>
          <p>Offer: <amount>{{ page.prd09_price }} MYR</amount> only</p>

        {% endif %}

        {% if page.prd10_location %}

          <img data-original="/assets/images/products/{{ page.ref }}prd10.png" alt="{{ page.title }} replacement window ({{ page.ref }}prd10.png)">
          <h5>{{ page.prd10_location }}
          <br><small>Ref: {{ page.ref }}prd10</small></h5>
          <p>Offer: <amount>{{ page.prd10_price }} MYR</amount> only</p>

        {% endif %}

        {% if page.prd11_location %}

          <img data-original="/assets/images/products/{{ page.ref }}prd11.png" alt="{{ page.title }} replacement window ({{ page.ref }}prd11.png)">
          <h5>{{ page.prd11_location }}
          <br><small>Ref: {{ page.ref }}prd11</small></h5>
          <p>Offer: <amount>{{ page.prd11_price }} MYR</amount> only</p>

        {% endif %}

      </div>

      <p><small>Price per piece. Includes free consultation, delivery and installation.</small></p>
      <img data-original="/assets/images/logo_german-technology.png" alt="German technology">
      <p>Our technoloy is ahead the market. In future you can even upgrade the window to HEAT- CUTTING without spending money for frame or sash again.</p>

    </div>
    <div class="col-sm-5">

      <h4>Service</h4>

      <ul class="default">
        <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Free consultation</li>
        <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Free installation in just 4 hours</li>
        <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Short delivery time</li>
        <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Payment via cash, wire or credit card</li>
      </ul>

      <img data-original="/assets/images/payment-method-icons.png" alt="Payment with Visa, MasterCard, AMEX, Discover, PayPal">

      <h4>Features</h4>

      <ul class="default">
        <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> German made handle and multipoint lock</li>
        <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Strong, soundproof aluminium profile</li>
        <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 10.76mm soundproof laminated glass</b></li>
        <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Re-inforced aluminium profile corners</li>
        <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Thermal break chamber</li>
        <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Vulcanized gasket connections</li>
        <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 100% watertight and air-tight, EPDM sealing</li>
        <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Professional PU-Foam window installation</li>
      </ul>

      <h5>Effective noise reduction (dBA)</h5>

      <img data-original="/assets/images/noise-reduction-chart.png" alt="Q-Windows noise reduction chart">

    </div>
    <div class="col-sm-3 col-sm-offset-1">

      <div class="contactform">
        <div class="form-group">
          <p><strong>Schedule appointment</strong>
          <br><small>Fields marked with * are required</small></p>
        </div>

        <div class="form">
          <form id="contact-form" data-parsley-validate>
            <div class="form-group">
              <label for="first_name">Your Details</label>
              <input id="first_name" name="first_name" type="text" class="form-control" placeholder="First Name *" data-parsley-error-message="Enter your first name." required>
            </div>
            <div class="form-group">
              <input id="last_name" name="last_name" type="text" class="form-control" placeholder="Last Name *" data-parsley-error-message="Enter your last name." required>
            </div>
            <div class="form-group">
              <input id="email_address" name="email_address" type="email" class="form-control" placeholder="Email address *" required>
            </div>
            <div class="form-group">
              <input id="mobile_phone_number" name="mobile_phone_number" type="number" class="form-control" placeholder="Mobile phone *" required>
            </div>
            <div class="form-group">
              <label for="address_street">Apartment</label>
              <input id="address_street" name="address_street" type="text" class="form-control" placeholder="Apartment #">
              <p class="help-block">at {{ page.title }}</p>
            </div>

            <input type="hidden" name="comments" value="{{ page.title }}" />
            <input type="hidden" name="page_url" value="{{ page.url }}" />
            <input type="hidden" name="honey" value="" />

            <button type="submit" value="Submit" class="btn btn-default" onclick="javascript:_paq.push(['trackEvent', 'Contact-Form', 'Submit']);">Request a free quote</button>
          </form>
        </div>
      </div>

    </div>
  </div>

</div>
