.promo .parsley-custom-error-message, .promo .parsley-errors-list .parsley-required, .promo .parsley-type {
	color: #fff;
	font-weight: bold;
	line-height: 20px;
}
.promo {
	text-align: center;
}
.promo .form {
	margin-top: 30px;
	margin-bottom: 30px;
	line-height: 32px;
}
.promo .form .btn-default {
	width: 100%;
	font-weight: bold;
}
.promo .glyphicon {
	font-size: 30px;
	color: #e4450d;
	border-radius: 40px;
	border: 10px solid #f14c0d;
	background: #fff;
	width: 80px;
	height: 80px;
	padding-top: 16px;
}
.promo .line {
	color: #fff;
	font-weight: 900;
	display: block;
	width: 100%;
}
.promo .line.l1 {
	font-size: 80px;
	margin-top: 40px;
}
.promo .line.text {
	font-size: 20px;
	line-height: 40px;
}
.promo .line.l2 {
	font-size: 100px;
	margin-top: 30px;
}
.promo .line.l3 {
	font-size: 60px;
}
.promo .line.l4 {
	font-size: 30px;
}

@media (max-width: 970px) {
	.cover-bg {
		min-height: 500px;
		background-color: #888888;
	}
	img.innovative-product-award {
		margin-top: 400px;
	}
	.promo {

	}
	.promo .glyphicon {
		margin-top: 12px;
		margin-bottom: 30px;
	}
	.promo .line.l1 {
		font-size: 26px;
	}
	.promo .line.text {
		font-size: 20px;
		line-height: 26px;
		margin-top: 10px;
	}
	.promo .line.l2 {
		line-height: 60px;
	}
	.promo .line.l4 {
		font-size: 22px;
	}
}

@media (min-width: 970px) {
	.promo .glyphicon {
		margin-top: 110px;
	}
	.promo {
		line-height: 82px;
	}
	.promo .form .btn-default {
		font-size: 18px;
	}
	.promo .line.l4 {
		font-size: 30px;
		margin-bottom: 30px;
	}
}